<div class="how-section1">
    <div class="row">
        <div class="col-md-5 ">
            <img src="https://images.livemint.com/rf/Image-621x414/LiveMint/Period2/2018/08/22/Photos/Processed/health-insurance-kMkD--621x414@LiveMint.jpg" class="rounded-circle img-fluid" alt="" />
        </div>
        <div class="col-md-6">
            <h4>Common Health Insurance Terms You Should Know</h4>


            <ul>
                <li>Proposer or Buyer: Also known as the policy owner, purchases the health insurance and pays for the premium.</li>
                <li>Day care Procedures: 24-hour short-term hospitalization procedures that are also covered by health insurance.</li>
                <li>Daily Cash: A health insurance feature that provides a fixed amount for every day during hospitalization.</li>
                <li>Dependents: Your family members like children, spouse, parents or any other relatives who benefit from the insurance purchased.</li>
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>What Is Health Insurance?</h4>
            <!-- <h4 class="subheading">GetLance makes it easy to connect with clients and begin doing great work.</h4> -->
            <p class="text-muted">Medical costs are rising at an alarming rate. Health insurance safeguards you against the increasing expenses, by reimbursing you or directly paying the medical fees, and also offers a host of other benefits such as free check-ups and ambulance
                services. The earlier you get insured in life, the lesser would be your premium.</p>
        </div>
        <div class="col-md-5">
            <img src="https://images.financialexpress.com/2019/08/health-insurance.jpg" class="rounded-circle img-fluid" alt="" />
        </div>
    </div>


</div>