<div class="container-fluid w-40" id="tb">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">s.no</th>
                <th scope="col">Policy Name</th>
                <th scope="col">Apply for Claim</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{policyName}}</td>
                <td>
                    <button class="btn btn-primary" (click)="applyClick()">Claim</button>
                </td>
                
                
            </tr>
            
        </tbody>
    </table>

</div>