<img src="https://www.cholainsurance.com/portals/0/family-new.jpg" alt="..." class=" img-fluid  ">
<div class="w-auto p-2" id="container">
    <p class="text-center">Health Insurance today and secure your happiness starting at just ₹11.8/day*</p>
</div>

<div id="container-2">
    <div class="w-auto p-2">
        <div class="row">
            <div class="col-6">
                <i style='font-size:24px' class='fa'>&#xf0fe;

               Health Insurance online, in three easy steps.</i>
            </div>
            <div class="col-2">
                <i style="font-size:24px" class="fa">&#xf0a4; &nbsp; Fill Details</i>
            </div>
            <div class="col-2">
                <i style="font-size:24px" class="fa">&#xf0a4; &nbsp; Make Payments</i>

            </div>
            <div class="col-2">
                <i style='font-size:24px' class='fa'>&#xf0a4; &nbsp; Make Payments</i>

            </div>
        </div>
    </div>
</div>

<div id="container-3" class="w-auto p-4 text-center">
    <p>When It comes to your health, choose a brand trusted by 1 Crore+* Happy Customers</p>
</div>
<h4>&nbsp; Our Policies &nbsp; </h4>

<br>


<div class="container">
    <div class="row">

        <!--team-1-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="https://previews.123rf.com/images/grebeshkovmaxim/grebeshkovmaxim1812/grebeshkovmaxim181200362/113458774-heart-in-hand-help-and-protect-icon.jpg" class="img-fluid" />
                    <h3>Active Assure Diamond Plan</h3>

                </div>

                <div class="team-back">
                    <span>
                        Active Assure Diamond Plan from Aditya Birla comes at an affordable premium. This health insurance plan offers a range of benefits as well as extensive coverage. 
        </span>
                </div>

            </div>
        </div>
        <!--team-1-->

        <!--team-2-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="http://www.stlawrence.org/uploads/7/1/7/8/71783827/natural-family-planning.jpg" class="img-fluid" />
                    <h3>LifeSmart Health Insurance Plan</h3>

                </div>

                <div class="team-back">
                    <span>
                        LifeSmart Health Insurance Plan from SBI General offers extensive coverage and benefits. Find out some of the major features of the policy below.

        </span>
                </div>

            </div>
        </div>
        <!--team-2-->

        <!--team-3-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="https://www.centerforhealthjournalism.org/files/title_images/FP%20logo.jpg" class="img-fluid" />
                    <h3>Star Family Health Optima</h3>

                </div>

                <div class="team-back">
                    <span>
                        Family Health Optima health insurance plan from Star Health Insurance has been formulated to offer protection for the entire family in exchange of a single premium payment under a floater Sum Insured. 
        </span>
                </div>

            </div>
        </div>
        <!--team-3-->

        <!--team-4-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQZdL-tWjBvOL09HhKznk24jc_LXk0BI96ZRhqPef7uMOZU793" class="img-fluid" />
                    <h3>Max Bupa Health Companion</h3>

                </div>

                <div class="team-back">
                    <span>
                        Sometimes an unforeseen illness can consume your hard earned lifelong savings, and force you in debts. Max Bupa Health Companion plan has been formulated to deal with all such health contingencies by securing you and your loved ones with a reliable health insurance policy
        </span>
                </div>

            </div>
        </div>
        <!--team-4-->

        <!--team-5-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSejEY8vYZNCmeO99NKgPkaSFCEu1boBaa6n5S3h25vnbfadIET4g" class="img-fluid" />
                    <h3> ERGO Health Suraksha</h3>

                </div>

                <div class="team-back">
                    <span>
                        Health Suraksha plan from HDFC ERGO comes with a number of special features and benefits. Find them out below.
        </span>
                </div>

            </div>
        </div>
        <!--team-5-->

        <!--team-6-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="https://conceptdraw.com/a3208c3/p16/preview/640/pict--family-hr-workflow-vector-stencils-library" class="img-fluid" />
                    <h3>Happy Family Floater Policy</h3>

                </div>

                <div class="team-back">
                    <span>
                        Oriental Insurance Company being one of the public sector general insurance companies offers effective health insurance plans. Happy Family Floater health insurance plan from Oriental Insurance Company offers extensive coverage and benefits.
        </span>
                </div>

            </div>
        </div>
        <!--team-6-->



    </div>
</div>

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://avatars2.githubusercontent.com/u/32372993?s=400&v=4" alt="card image"></p>
                                    <h4 class="card-title">Kanhaiya Kumar</h4>
                                    <p class="card-text">Diaspark CLAD Team.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Kanhaiya Kumar</h4>
                                    <p class="card-text">Diaspark CLAD Team.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://lh3.googleusercontent.com/-PJFtXOk96MY/XIIYRsAMlXI/AAAAAAAAAlw/dtKO7BGAUAUFuEVtxiYpESDO4OIFUhcGgCEwYBhgL/w139-h140-p/IMG_20180220_192352954.jpg" alt="card image"></p>
                                    <h4 class="card-title">Akshita Panchal</h4>
                                    <p class="card-text">Diaspark CLAD Team </p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">>Akshita Panchal</h4>
                                    <p class="card-text">Diaspark CLAD Team</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://scontent-sin2-1.xx.fbcdn.net/v/t1.0-9/25396162_1419912071468091_3620373340622339296_n.jpg?_nc_cat=102&_nc_oc=AQkIIdqaIr87iZklIT6-1NmA0SLXd6x9GFNqN7VDelsDX-sDxlGEVz3BZnSmd2LZOMg&_nc_ht=scontent-sin2-1.xx&oh=b155765ec59108b20740d2c0cc4fc96a&oe=5E062679"
                                            alt="card image"></p>
                                    <h4 class="card-title">Harsh Khare</h4>
                                    <p class="card-text">
                                        <p>Diaspark CLAD Team</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Harsh Khare</h4>
                                    <p class="card-text">Diaspark CLAD Team</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->

<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-dark ">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Here you can use rows and columns to organize your footer content.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Follow Us On</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.facebook.com/" class="fa fa-facebook">Link 1</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/login?lang=en" class="fa fa-twitter">Link 2</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/accounts/login/?hl=en" class="fa fa-instagram">Link 3</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/" class="fa fa-youtube">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:

    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->