<div class="container-fluid" id="tb">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">s.no</th>

                <th scope="col">Title</th>

                <th scope="col">First-name</th>
                <th scope="col">Last-name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let data of myData ;let i=index">
            <tr>
                <td>{{i+1 }}</td>

                <td>{{data.title}}</td>
                <td>{{data.firstname}}</td>
                <td>{{data.lastname}}</td>
                <td>{{data.phone}}</td>
                <td>{{data.email}}</td>
                <td>
                    <!-- <button type="submit" class="btn btn-secondary" (click)="delete(data._id)">Delete</button> &nbsp; -->
                    <button type="submit" class="btn btn-primary"><a  class="text-white" routerLink='viewUser/{{data._id}}'>View</a></button>
                </td>
            </tr>

        </tbody>
    </table>
</div>