
<div class="card  w-75 p-3 mx-auto" style="width: 25rem;" >
    <div class="card-header">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Policy Name:</b> &nbsp; {{policyName}}</li>
      <li class="list-group-item"><b>Policy Amount:</b> &nbsp; Rs.{{policyAmount}}</li>
      <li class="list-group-item"><b>Policy Premium:</b> &nbsp; {{policyPremium}}</li>
      <li class="list-group-item"><b>Start Date:</b> &nbsp; {{startDate}}</li>
      <li class="list-group-item"><b>End Date:</b> &nbsp; {{endDate}}</li>
    </ul>
  </div>