<div class="container-fluid" >
    <div class="card-body row justify-content-center align-self-center">
        <form [formGroup]="updatepass">
            <div class="col-sm-20">
                <label><strong>Current Password</strong></label>
                <input type="password" placeholder="enter password" formControlName="password" class="form-control">
            </div>
 
            <br>
 
            <div class="col-sm-20">
                <label><strong>New Password</strong></label>
                <input type="password" placeholder="update password" formControlName="newpassword" class="form-control">
            </div>
 
            <br>
 
            <div>
                <button class="btn btn-primary" (click)="update()">Submit</button>
            </div>
        </form>
    </div>
</div>